<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>
	<h1> SREEYA SAI </h>

  <h1>hello it's me!</h1>

  <p id="demo">
    <img src="Me.jpeg" alt="Me" height="42" width="42">
  </p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

</body>

</html>